$def with (name, titles, rid, pics, owner)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Welcome to our room Rental</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link type="text/css" href="../static/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
    <link type="text/javascript" href="../static/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <script src="../static/js/holder.js"></script>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">Room Rental</a>
          <div class="nav-collapse collapse">
          	$if not name:
	            <p class="navbar-text pull-right">
	            <a href="/sign_up" class="navbar-link">Sign up</a>
	            or
	            <a href="/login" class="navbar-link">Log in</a>
	            </p>
            $else:
	            <p class="navbar-text pull-right">
	            $name
	            <a href="/logout" class="navbar-link">Log out</a>

	            </p>
            <ul class="nav">
            <li><a href="/new">New</a></li>
            <li><a href="#">ALL</a></li>
            <li><a href="#about">Profile</a></li>
            <li>
              	<form class="navbar-search">
                  <input type="text" class="search-query" placeholder="Search">
                </form>
            </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
            $for i in range(len(rid))
                $if i==0:
                    <div class="row-fluid">
                <div class="span4">
                <h2><div style="width:600px; padding:5px">
                <div style="float:left; margin-right:10px"><img src="$pics[i]" width="300" height="150"/></div>
                </div></h2>
                <p>$titles[i]</p>
                <p><a class="btn btn-success" href="/show/$rid[i]">View details &raquo;</a>

                $if name == owner[i]:
                    <a class="btn" href="/new/$rid[i]">Edits &raquo;</a></p>
                </div><!--/span-->
                $if i%3==2 and i< range(len(rid)):
                    </div><!--/row-fluid-->
                    <div class="row-fluid">
                $if i== range(len(rid)):
                    </div><!--/row-fluid-->
                    </div><!--/span12-->
                    </div><!--/row-fluid-->
<!--       <footer>
        <p>&copy; Company 2013</p>
      </footer>
 -->
    </div><!--/.fluid-container-->

    

  </body>
</html>